.AddForm {
    position: absolute;
    left: 48%;
    top: 16.1%;
    width: 40%;
    height: 50%;
    background-color: #f5f7fb;
    box-shadow: -9px 10px 15px 0 rgba(66, 68, 90, 1);
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.AddForm label {
    font-size: 3vh;
    font-family: Papyrus, sans-serif;
    display: block;
    margin: 2vh auto;
    text-align: center;
}

.AddForm input {
    width: 10vw;
    height: 2vh;
}

.SubmitButton {
    font-size: 3vh;
    font-family: Papyrus, sans-serif;
    display: inline-block;
    margin: auto;
    width: 6vw;
    height: 6vh;
    border-radius: 3vw;
    background-color: white;
    box-shadow: -8px 8px 7px 0 rgba(66, 68, 90, 1);
}

.SubmitButton:hover {
    cursor: pointer;
}

.ExitButton {
    display: flex;
    float: right;
    text-decoration: none;
    border: none;
    background-color: #f5f7fb;
    font-size: 1.5vh;
}

.ExitButton:hover {
    cursor: pointer;
}
