.MovieRate {
    width: 98%;
    height: 12%;
    background-color: #f5f7fb;
    margin: 1% 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(66, 68, 90, 1);
    display: flex;
}

.Number {
    font-family: Papyrus;
    height: 100%;
    width: 2%;
    display: flex;
    font-size: 5vh;
    margin-left: 0.5vh;
    align-items: center;
}

.TitleAndRating {
    display: inline-block;
}

.Title {
    margin-left: 3vh;
    margin-top: 0;
    margin-bottom: 3vh;
    display: block;
    height: 10%;
    width: 100%;
    font-size: 3vh;
    text-align: left;
}

.Rating {
    margin-left: 2vh;
    margin-top: 0;
    display: block;
    width: 100%;
}

.Edit {
    width: 55%;
    height: 50%;
    display: inline;
}

.EditButton {
    float: right;
    display: flex;
    width: 12%;
    height: 150%;
    align-items: center;
    margin-right: 1%;
    margin-top: 2%;
    border-radius: 50%;
    border: 1px solid #dadada;
    background-color: #f5f7fb;
    font-size: 2vh;
    font-family: Papyrus;
}

.EditButton:hover {
    cursor: pointer;
}
